.termsInline0 {
color: var(--color-textSecondary);
font-size: '14px';
}
.termsInline1 {
color: var(--color-textSecondary);
}
.termsInline2 {
color: var(--color-textSecondary);
}
.termsInline3 {
color: var(--color-textSecondary);
}
.termsInline4 {
color: var(--color-textSecondary);
}
.termsInline5 {
color: var(--color-textSecondary);
}
.termsInline6 {
color: var(--color-textSecondary);
}
.termsInline7 {
color: var(--color-textSecondary);
}
.termsInline8 {
color: var(--color-textSecondary);
}
.termsInline9 {
color: var(--color-primary);
}
